.sav {
  display: flex;
  flex-wrap: wrap;
}

.sav-left {
  flex: 1;
  display:flex;
  justify-content: center;
  height: 450px;
  padding: 15px;
}

.sav-left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 5px;
}

.sav-left-button {
  background-color: transparent;
  width: 250px;
  height: 70px;
  border-radius: 4px;
  font-size: 14px;
  border: 2px solid #ff7d00;
  color: #ff7d00;
  cursor: pointer;
  transition: .4s
}

.sav-left-button:hover {
  background-color: #ff7d00;
  color: white;
}

.sav-center {
  flex: 2;
  display:flex;
  justify-content: center;  
  padding: 15px;
}

.sav-center-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
}

.sav-title {
  color: white;
}

.ui.horizontal.divider.sav-center-divider {
  color: #ff7d00;
}

.sav-summary-container {
  padding: 20px 20px 0px 20px;
}

.sav-summary {
  color: white
}

.sav-right {
  flex: 1;
  display:flex;
  justify-content: center;
  padding: 15px;
  height: 650px;
  position: relative;
}

.sav-right-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  position: relative;
  padding-top: 5px;
}

.sav-right-item-title {
  color: white;
  font-size: 15px;
}

.sav-right-company-name {
  color:#ff7d00;
  margin: 0;
}