.cf-container {
  display: flex;
  justify-content: center;
}

.cf-wrapper {
  width: 100%;
}

.cf-button {
  width: 100%;
  height: 50px;
  font-weight: bold;
  margin: 3px;
  cursor: pointer;
}

.cf-button-create {
  background-color: transparent;
  border: 1px solid #ff7d00;
  color: #ff7d00;
}

.cf-button-create:hover {
  background-color: #ff7d00;
  color: white;
}

.cf-label {
  color: white !important;
}
