.ts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
  height: 400px;
  position: relative;
  border-end-start-radius: 0;
}

.ts-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.ts-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.ts-text-appname {
  color: white;
  font-size: 4em;
}

.ts-text-subheader {
  border-right: 3px solid orange;
  padding-right: 5px;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Courier New';
  animation: typing 3.5s steps(31, end),
    blinkTextCursor .75s step-end infinite;
}

@keyframes typing{
  from{width: 0;}
  to{width: 100%;}
}

@keyframes blinkTextCursor{
  from, to { border-color: transparent }
  50% { border-color: orange; }
}