.af-container {
  display: flex;
  justify-content: center;
}

.af-wrapper {
  margin: 20px 0px 100px 0px;
  width: 50%;
}

.af-header {
  text-align: center;
  font-size: 25px;
  color: white;
  margin-bottom: 70px;
}

.af-label {
  color: white !important;
}


.af-button-container {
  display: flex;
}

.af-button {
  width: 50%;
  height: 50px;
  font-weight: bold;
  margin: 3px;
  cursor: pointer;
}

.af-button-submit {
  background-color: transparent;
  border: 1px solid #ff7d00;
  color: #ff7d00;
}

.af-button-submit:hover {
  background-color: #ff7d00;
  color: white;
}


.af-button-return {
  background-color: transparent;
  border: 1px solid red;
  color: red;
}

.af-button-return:hover {
  background-color: red;
  color: white;
}

.af-subheader {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 60px;
  margin-bottom: 40px;
}

.ui.checkbox.af-checkbox {
  margin: 2em 1em;
}
