.cm {
  display: flex;
  justify-content: center;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid rgb(71, 71, 71);
  overflow: hidden;
}

.cm-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px 0px 20px 0px;
}

.cm-header {
  font-size: 30px;
  color: #ff7d00;
  text-align: center;
}

.cm-chart-container {
  padding: 15px;
}

.cm-chart-title {
  color: white;
  font-size: 25px;
}